results/
# data
data/
prepare_data/

#checkpoints
checkpoints*/**
*.pth
tmp*.py

# docs
*.pdf
.specstory/
.idea/
docs/
note.md
*.png

# experiment outputs
eval_results_cls/

# log files
*.log
logs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class